<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Customer</title>
    <link href="../static/css/style.css"
          th:href="@{../css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div>
    <h1>Customer</h1>
</div>
<div class="table">
    <div class="cell">
        <label>Customer id: </label>
        <div class="one">
            <p th:text="${customer.id}"></p>
        </div>
    </div>
    <div class="cell">
        <label>Customer name: </label>
        <div class="one">
            <p th:text="${customer.name}"></p>
        </div>
    </div>
</div>
<p><a href="../customers">Return</a></p>
</body>
</html>