<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add branch</title>
    <link th:href="@{../css/style.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark fixed-top" style="background-color: #8ce24a;">
    <div class="mx-auto">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/branches}">Branches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customers}">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/transactions}">Transactions</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center" style="margin-top: 56px;">
    <h1>Branch Form</h1>
</div>
<div>
    <form th:object="${branch}" th:action="@{/branches}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Branch name: </label>
            <div class="one">
                <input type=text th:field="*{name}" required/>
            </div>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<div>
    <p><a href="/branches">Back</a></p>
</div>
</body>
</html>