<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Branches</title>
    <link th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark fixed-top" style="background-color: #8ce24a;">
    <div class="mx-auto">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/branches}">Branches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customers}">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/transactions}">Transactions</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center" style="margin-top: 56px;">
    <h1>Branches list</h1>
</div>
<div th:if="${not #lists.isEmpty(branches)}" class="table">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Link</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="branch:${branches}">
            <td th:text="${branch.id}"></td>
            <td th:text="${branch.name}"></td>
            <td><a th:href="${'branches/' + branch.id}" th:method="get">View</a></td>
            <td><a th:href="${'branches/delete/' + branch.id}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<p>
    <a href="branches/new">Add new</a>
</p>
<p>
    <a href="/">Home</a>
</p>
</body>
</html>