<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>START</title>
    <link href="../static/css/style.css"
          th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<h1 class="home">Choose table</h1>
<div class="table">
    <ul>
        <li><a href="branches">Branches</a></li>
        <li><a href="customers">Customers</a></li>
        <li><a href="transactions">Transactions</a></li>
    </ul>
</div>
</body>
</html>